.App {
  text-align: center;
  display: flex; 
  height: 100vh; 
}

.App-header {
  margin-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: white;
  flex: 1; 
}

.input-container { 
  display: flex;
  margin-bottom: 20px;
  margin-left: 5rem;
  font-size: 20px;
}

.name{
  display: flex;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: #b7977d;
  font-size: 50px;
}

input {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 7px;
  border: solid 2px #DAD0C9;
  z-index: 10;
  text-align: left;
}

button {

  padding: 10px;
  border-radius: 7px;
  background-color: white;
  border: solid 2px #DAD0C9;
  cursor: pointer;
  z-index: 10;
}

.add-button {
  padding: 10px 15px;
  border-radius: 7px;
  background-color: #DAD0C9;
  cursor: pointer;
  z-index: 10;
}

ul {
  text-align: left;
  list-style: none;
  padding: 0;
  width: 100%;
  z-index: 10;
}

li {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  color: #b7977d;
  margin-left: 5rem;
  font-weight: 500;
  font-size: 20px;
  max-width: 50%;
  min-width: 150px;
  z-index: 10;
}

li button {
  margin-left: 10px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: #DAD0C9;
  z-index: 10;
}


.sidebar {
  display:block ;
  /* flex-direction: column;
  justify-content: center; 
  align-items: center;  */
  width: 35%;
  background-color: #DAD0C9;
  border-top-left-radius: 28px;
  height: 100vh; 
  padding: 20px; 
}


.react-calendar {
  margin-top: 10rem;
  width: 90%; 
  background-color: transparent;
  font-family: 'Arial', sans-serif;
  color: #b7977d;
  padding: 10px;
}


.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 12px 0;
  background-color: transparent; 
  font-weight: 500;
}


.react-calendar__navigation {
  display: flex;
  justify-content: center;
  font-size: 24px; 
  margin-bottom: 20px; 
}

.react-calendar__navigation__label {
  font-size: 48px !important; 
  color: #b7977d; 
  flex-grow: 1; 
  text-align: center; 
}


.react-calendar__navigation button {
  background-color: #DAD0C9;
  color: #b7977d;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

/* today date */
.react-calendar__tile--now {
  background-color: #fad0c9;
  color: white;
}

.react-calendar__tile:hover {
  background-color: #f0e9e7;
  cursor: pointer;
}

/* active date */
.react-calendar__tile--active, .react-calendar__tile--hasActive {
  background-color: #b7977d; 
  color: white;
}


.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
  background-color: #b7977d;
  color: white;
}

